<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table border="1">
        <tr th:each="department, iStat : ${departmentPage.content}"
            th:style="${iStat.odd}? 'font-weight: bold;'"
            th:alt-title="${iStat.even}? 'even' : 'odd'">
            <td th:text="${department.departmentId}" />
            <td th:text="${department.departmentName}" />
        </tr>
</table>
<div th:if="${departmentPage.totalPages > 0}" class="pagination"
    th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/department/all(size=${departmentPage.size}, page=${pageNumber})}"
        th:text=${pageNumber}
        th:class="${pageNumber==departmentPage.number + 1} ? active"></a>
</div>

</body>
</html>