<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<div>
<form th:action="@{/admin/updatecourseapplication(id=${courseApplication.applicationId})}" th:method="post">
	<h1>Course Application Information</h1>
	<table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center">
			<td th:text="${courseApplication.applicationId}" ></td>
			<td th:text="${courseApplication.status}" ></td>
			<td>
				<a th:href="@{/admin/viewdepartment(viewdepartment=${courseApplication.course.department.departmentId})}"
        		th:text=${courseApplication.course.department.departmentId}></a>
			</td>
			<td th:text="${courseApplication.course.department.departmentName}" ></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${courseApplication.course.courseId})}"
        		th:text=${courseApplication.course.courseId}></a>
			</td>
			<td th:text="${courseApplication.course.courseCode}" ></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${courseApplication.student.studentId})}"
        		th:text=${courseApplication.student.studentId}></a>
			</td>
			<td th:text="${courseApplication.student.firstName}+' '+${courseApplication.student.middleName}+' '+${courseApplication.student.surname}" ></td>
		</tr>
	</table>
	
	<h1>Edit Information</h1>
	<table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Course ID</td>
			<td>Student ID</td>
		</tr>
		<tr align="center">
			<td th:text="${courseApplication.applicationId}">Course Application ID</td>
			<td><input type="text" name="updatestatus" th:value="${courseApplication.status}" /></td>
			<td><input type="number" name="updatecid" th:value="${courseApplication.course.courseId}" /></td>
			<td><input type="number" name="updatesid" th:value="${courseApplication.student.studentId}" /></td>
		</tr>
    </table>
    
    <h2>Warning</h2>
    <p>Confirm the changes before clicking update</p>

	<button type="submit" name="confirm" value="yes">Update</button>
</form>

<div th:if="${error == 'yes'}">
	<h2 th:text="${emsg}">Error Message</h2>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/courseapplicationlist}">Return to list of course applications</a></p>
</div>