<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<div>
<form th:action="@{/admin/updatefaculty(id=${faculty.facultyId})}" th:method="post">
	<h1>Faculty Information</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
			<td>Email</td>
			<td>Mobile Number</td>	
		</tr>
		<tr align="center">
			<td>
				<a th:href="@{/admin/viewdepartment(viewdepartment=${faculty.department.departmentId})}"
        		th:text=${faculty.department.departmentId}></a>
			</td>
			<td th:text="${faculty.department.departmentName}" ></td>
			<td th:text="${faculty.facultyId}" ></td>
			<td th:text="${faculty.firstName}+' '+${faculty.middleName}+' '+${faculty.surname}"></td>
			<td th:text="${faculty.email}" ></td>
			<td th:text="${faculty.mobileNum}" ></td>
		</tr>
	</table>
	
	<h1>Edit Information</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Faculty ID</td>
			<td>Faculty First Name</td>
			<td>Faculty Middle Name</td>
			<td>Faculty Surname</td>
			<td>Email</td>
			<td>Mobile Number</td>	
		</tr>
		<tr align="center">
			<td><input type="text" name="updatedid" th:value="${faculty.department.departmentId}" /></td>
			<td th:text="${faculty.facultyId}">Faculty ID</td>
			<td><input type="text" name="updatefname" th:value="${faculty.firstName}" /></td>
			<td><input type="text" name="updatemname" th:value="${faculty.middleName}" /></td>
			<td><input type="text" name="updatesname" th:value="${faculty.surname}" /></td>
			<td><input type="text" name="updateemail" th:value="${faculty.email}" /></td>
			<td><input type="text" name="updatemobile" th:value="${faculty.mobileNum}" /></td>
		</tr>
    </table>
    
    <h2>Warning</h2>
    <p>Confirm the changes before clicking update</p>

	<button type="submit" name="confirm" value="yes">Update</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/facultylist}">Return to list of faculties</a></p>
</div>