<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<div th:if="${type == 'department'}">
<form th:action="@{/admin/delete(deleteType='department',id=${department.departmentId})}" th:method="post">
	<h1>Department Information</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
		</tr>
		<tr align="center">
			<td th:text="${department.departmentId}" ></td>
			<td th:text="${department.departmentName}"></td>
		</tr>
    </table>
    
    <h2>Warning</h2>
    <p>Deleting the department will delete all courses/faculties/grades/course applications associated with the department</p>

	<button type="submit" name="confirm" value="yes">Confirm</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/departmentlist}">Return to list of departments</a></p>
</div>

<div th:if="${type == 'course'}">
<form th:action="@{/admin/delete(deleteType='course',id=${course.courseId})}" th:method="post">
	<h1>Course Information</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course Size</td>
			<td>Course Unit</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
		</tr>
		<tr align="center">
			<td th:text="${course.department.departmentId}" ></td>
			<td th:text="${course.department.departmentName}" ></td>
			<td th:text="${course.courseId}" ></td>
			<td th:text="${course.courseCode}"></td>
			<td th:text="${course.courseName}"></td>
			<td th:text="${course.courseSize}"></td>
			<td th:text="${course.courseUnit}"></td>
			<td th:text="${course.faculty.facultyId}"></td>
			<td th:text="${course.faculty.firstName}+' '+${course.faculty.middleName}+' '+${course.faculty.surname}"></td>
		</tr>
    </table>
    
    <h2>Warning</h2>
    <p>Deleting the course will delete all grades/course applications associated with the course</p>

	<button type="submit" name="confirm" value="yes">Confirm</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/courselist}">Return to list of courses</a></p>
</div>

<div th:if="${type == 'courseApplication'}">
<form th:action="@{/admin/delete(deleteType='courseApplication',id=${courseApplication.applicationId})}" th:method="post">
	<h1>Course Application Information</h1>
	<table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Department ID</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center">
			<td th:text="${courseApplication.applicationId}" ></td>
			<td th:text="${courseApplication.status}" ></td>
			<td th:text="${courseApplication.course.department.departmentId}" ></td>
			<td th:text="${courseApplication.course.department.departmentName}" ></td>
			<td th:text="${courseApplication.course.courseId}" ></td>
			<td th:text="${courseApplication.course.courseCode}" ></td>
			<td th:text="${courseApplication.student.studentId}" ></td>
			<td th:text="${courseApplication.student.firstName}+' '+${courseApplication.student.middleName}+' '+${courseApplication.student.surname}" ></td>
		</tr>
    </table>
    
    <h2>Warning</h2>
    <p>Deleting the course application permanently remove it from the database</p>

	<button type="submit" name="confirm" value="yes">Confirm</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/courseapplicationlist}">Return to list of course applications</a></p>
</div>

<div th:if="${type == 'faculty'}">
<form th:action="@{/admin/delete(deleteType='faculty',id=${faculty.facultyId})}" th:method="post">
	<h1>Faculty Information</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
			<td>Email</td>
			<td>Mobile Number</td>	
		</tr>
		<tr align="center">
			<td th:text="${faculty.department.departmentId}" ></td>
			<td th:text="${faculty.department.departmentName}" ></td>
			<td th:text="${faculty.facultyId}" ></td>
			<td th:text="${faculty.firstName}+' '+${faculty.middleName}+' '+${faculty.surname}"></td>
			<td th:text="${faculty.email}" ></td>
			<td th:text="${faculty.mobileNum}" ></td>
		</tr>
    </table>
    
    <h2>Courses Assigned</h2>
    <div th:if="${deletesafe == 'safe'}">
    <h3>No courses assigned. Safe to delete</h3>
    </div>
    <div th:if="${deletesafe == 'unsafe'}">
    <h3>There are courses assigned. Unsafe to delete!</h3>
    <table>
		<tr align="center">
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course Size</td>
			<td>Course Unit</td>
		</tr>
		<tr align="center" th:each="cse: ${courses}">
			<td th:text="${cse.department.departmentName}" ></td>
			<td th:text="${cse.courseId}"></td>
			<td th:text="${cse.courseCode}"></td>
			<td th:text="${cse.courseName}"></td>
			<td th:text="${cse.courseSize}"></td>
			<td th:text="${cse.courseUnit}"></td>
		</tr>
    </table>
    </div>
    
    <h2>Warning</h2>
    <p>Deleting the faculty if there are courses assigned will delete the courses and grades associated with the faculty</p>

	<button type="submit" name="confirm" value="yes">Confirm</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/facultylist}">Return to list of faculties</a></p>
</div>

<div th:if="${type == 'student'}">
<form th:action="@{/admin/delete(deleteType='student',id=${student.studentId})}" th:method="post">
	<h1>Student Information</h1>
	<table>
		<tr align="center">
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>	
		</tr>
		<tr align="center">
			<td th:text="${student.studentId}" ></td>
			<td th:text="${student.firstName}+' '+${student.middleName}+' '+${student.surname}"></td>
			<td th:text="${student.age}" ></td>
			<td th:text="${student.gender}" ></td>
			<td th:text="${student.email}" ></td>
			<td th:text="${student.mobileNum}" ></td>
			<td th:text="${student.address}" ></td>
		</tr>
    </table>
    
    <h2>Courses Applied</h2>
    <div th:if="${deletesafe == 'safe'}">
    <h3>No courses applied</h3>
    </div>
    <div th:if="${deletesafe == 'unsafe'}">
    <h3>There are courses assigned. Deleting student will delete the applications!</h3>
    <table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplications}">
			<td th:text="${ca.applicationId}" ></td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseId}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
		</tr>
    </table>
    </div>
    
    <h2>Warning</h2>
    <p>Deleting the student will delete the course application and grades associated with the student</p>

	<button type="submit" name="confirm" value="yes">Confirm</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/studentlist}">Return to list of students</a></p>
</div>



</body>
</html>