<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<h1> Student's Information </h1>
		
<table>
		<tr>
			<td th:text="${student.studentId}" ></td>
			<td th:text="${student.firstName}+' '+${student.middleName}+' '+${student.surname}"></td>
			<td th:text="${student.age}" ></td>
			<td th:text="${student.gender}" ></td>
			<td th:text="${student.email}" ></td>
			<td th:text="${student.mobileNum}" ></td>
			<td><a th:href="@{/student/edit/}+${student.studentId}"> Edit </a>
			</td>
			
		</tr>
</table>
</table>

<br/>
<br/>
<br/>
<br/>
<td><a th:href="@{/student/eduRec/}+${student.studentId}"> EducationRecord </a>
			</td>
<h1>List of Student's Applied courses</h1>

<div th:if="${sort == 'all'}">
	<table>
		<tr align="center">
			<td>Department</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course StartDate</td>
			<td>Course End Date</td>
			<td>Course Unit</td>
			<td>Course Size</td>
			<td>Status</td>
			<td>Student ID</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplicationPage.content}">
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
			<td th:text="${ca.course.courseName}" ></td>
			<td th:text="${ca.course.courseStart}" ></td>
			<td th:text="${ca.course.courseEnd}" ></td>
			<td th:text="${ca.course.courseUnit}" ></td>
			<td th:text="${ca.course.courseSize}" ></td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.student.studentId}" ></td>
						
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/student/courseapplicationlist(sort='approved',size=${courseApplicationPage.size}, page=${pageNumber})}">Approved Courses</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='rejected',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all Reject</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='pending',size=${courseApplicationPage.size}, page=${pageNumber})}">Pending Courses</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${courseApplicationPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/student/courseapplicationlist(sort='all',size=${courseApplicationPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==courseApplicationPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:if="${sort == 'pending'}">
	<table>
		<tr align="center">
			<td>ApplicationID</td>
			<td>Status</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplicationPage.content}">
			<td th:text="${ca.applicationId}" ></td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseId}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
			<td th:text="${ca.student.studentId}" ></td>
			<td th:text="${ca.student.firstName}+' '+${ca.student.middleName}+' '+${ca.student.surname}" ></td>
			<td><a th:href="@{/student/deleteCoures/}+${ca.applicationId}"> Delete </a></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/student/courseapplicationlist(sort='approved',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all approved</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='rejected',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all Reject</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='all',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${courseApplicationPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/student/courseapplicationlist(sort='pending',size=${courseApplicationPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==courseApplicationPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:if="${sort == 'approved'}">
	<table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplicationPage.content}">
			<td th:text="${ca.applicationId}" ></td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseId}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
			<td th:text="${ca.student.studentId}" ></td>
			<td th:text="${ca.student.firstName}+' '+${ca.student.middleName}+' '+${ca.student.surname}" ></td>
			
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/student/courseapplicationlist(sort='pending',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all pending</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='rejected',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all Reject</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='all',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${courseApplicationPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/student/courseapplicationlist(sort='approved',size=${courseApplicationPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==courseApplicationPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>
<div th:if="${sort == 'rejected'}">
	<table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplicationPage.content}">
			<td th:text="${ca.applicationId}" ></td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseId}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
			<td th:text="${ca.student.studentId}" ></td>
			<td th:text="${ca.student.firstName}+' '+${ca.student.middleName}+' '+${ca.student.surname}" ></td>
			
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/student/courseapplicationlist(sort='pending',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all pending</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='approved',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all approved</a></td>
			<td><a th:href="@{/student/courseapplicationlist(sort='all',size=${courseApplicationPage.size}, page=${pageNumber})}">Show all</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${courseApplicationPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/student/courseapplicationlist(sort='rejected',size=${courseApplicationPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==courseApplicationPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>
<p><a th:href="@{/student/home}">Home</a></p>
<p><a th:href="@{/student/list}">Available Courses</a></p>

</body>
</html>