<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<table>
		<tr>
			<td>Admin ID</td>
			<td>Name</td>
			<td>Email</td>
			<td>Mobile Number</td>
		</tr>
		<tr align="center">
			<td th:text="${admin.adminId}">Admin Id</td>
			<td
				th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin
				Name</td>
			<td th:text="${admin.email}">Admin Email</td>
			<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
			<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
		</tr>
	</table>


	<h1>List of all courses</h1>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course Size</td>
			<td>Course Unit</td>
			<td>Course Start</td>
			<td>Course End</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
		</tr>
		<tr align="center" th:each="cse: ${coursePage.content}">
			<td><a
				th:href="@{/admin/viewdepartment(viewdepartment=${cse.department.departmentId})}"
				th:text=${cse.department.departmentId}></a></td>
			<td th:text="${cse.department.departmentName}"></td>
			<td><a
				th:href="@{/admin/viewcourse(viewcourse=${cse.courseId})}"
				th:text=${cse.courseId}></a></td>
			<td th:text="${cse.courseCode}"></td>
			<td th:text="${cse.courseName}"></td>
			<td th:text="${cse.courseSize}"></td>
			<td th:text="${cse.courseUnit}"></td>
			<td th:text="${cse.courseStart}"></td>
			<td th:text="${cse.courseEnd}"></td>
			<td><a
				th:href="@{/admin/viewfaculty(viewfaculty=${cse.faculty.facultyId})}"
				th:text=${cse.faculty.facultyId}></a></td>
			<td
				th:text="${cse.faculty.firstName}+' '+${cse.faculty.middleName}+' '+${cse.faculty.surname}"></td>
		</tr>
		<tr th:if="${coursePage.totalPages > 0}" class="pagination">
			<td th:each="pageNumber : ${pageNumbers}"><a
				th:href="@{/admin/createcourse(size=${coursePage.size}, page=${pageNumber},flag='null')}"
				th:text=${pageNumber}
				th:class="${pageNumber==coursePage.number + 1} ? active"></a></td>
		</tr>
	</table>

	<form th:action="@{/admin/createcourse}" th:method="post">
		<h2>New Course Information</h2>
		<table>
			<tr align="center">
				<td>Department ID</td>
				<td>Course Code</td>
				<td>Course Name</td>
				<td>Course Size</td>
				<td>Course Unit</td>
				<td>Course Start</td>
				<td>Course End</td>
				<td>Faculty ID</td>
			</tr>
			<tr>
				<td><input type="number" name="did" /></td>
				<td><input type="text" name="code" /></td>
				<td><input type="text" name="name" /></td>
				<td><input type="number" name="csize" /></td>
				<td><input type="number" name="unit" /></td>
				<td><input type="date" name="start" /></td>
				<td><input type="date" name="end" /></td>
				<td><input type="number" name="fid" /></td>
			</tr>
			<tr>
				<td><button type="submit" name="confirm" value="yes">Create
						Course</button></td>
			</tr>
		</table>
		<input type="hidden" name="flag" value="yes" />
		<div th:if="${error == 'error'}">
			<h2 th:text="${msg}">Error Message</h2>
		</div>
	</form>
	<p><a th:href="@{/admin/home}">Home</a></p>
</body>
</html>