<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
		<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
	</tr>
</table>


<h1>List of all departments</h1>
<table>
	<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
		</tr>
		<tr align="center" th:each="dept: ${departmentPage.content}">
			<td>
				<a th:href="@{/admin/viewdepartment(viewdepartment=${dept.departmentId})}"
        		th:text=${dept.departmentId}></a>
			</td>
			<td th:text="${dept.departmentName}"></td>
		</tr>
    	<tr th:if="${departmentPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/createdepartment(size=${departmentPage.size},page=${pageNumber},flag='null')}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==departmentPage.number + 1} ? active"></a>
    		</td>
    	</tr>
</table>

<form th:action="@{/admin/createdepartment}" th:method="post">
<h2>New Department Information</h2>
<table>
	<tr>
		<th>Department ID</th>
		<th>Department Name</th>
	</tr>
	<tr>
		<td><input type="number" name="id"/></td>
		<td><input type="text" name="name"/></td>
	</tr>
	<tr>
		<td><button type="submit" name="confirm" value="yes">Create Department</button></td>
	</tr>
</table>
<input type="hidden" name="flag" value="yes"/>
<div th:if="${error == 'error'}">
<h2 th:text="${msg}">Error Message</h2>
</div>
</form>
<p><a th:href="@{/admin/home}">Home</a></p>
</body>
</html>