<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>List of all departments</h1>

<div>
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
		</tr>
		<tr align="center" th:each="dept: ${departmentPage.content}">
			<td th:text="${dept.departmentId}" ></td>
			<td th:text="${dept.departmentName}"></td>
		</tr>
    	<tr th:if="${departmentPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/departmentlist(size=${departmentPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==departmentPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>

</body>
</html>