<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr align="center">
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
		<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>List of all grades</h1>

<form th:action="@{/admin/gradelist}">
<div th:if="${searched == 'null'}">
	<table>
		<tr align="center">
			<td>Grade ID</td>
			<td>Grade</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center" th:each="grade: ${gradePage.content}">
			<td>
				<a th:href="@{/admin/viewgrade(viewgrade=${grade.gradeId})}"
        		th:text=${grade.gradeId}></a>
			</td>
			<td th:text="${grade.grade}"></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${grade.course.courseId})}"
        		th:text=${grade.course.courseId}></a>
			</td>
			<td th:text="${grade.course.courseCode}"></td>
			<td th:text="${grade.course.courseName}"></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${grade.student.studentId})}"
        		th:text=${grade.student.studentId}></a>
			</td>
			<td th:text="${grade.student.firstName}+' '+${grade.student.middleName}+' '+${grade.student.surname}"></td>
		</tr>
    	<tr th:if="${gradePage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/gradelist(size=${gradePage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==gradePage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:unless="${searched == 'null'}">
	<table th:if="${found == 'found'}">
		<tr>
			<td th:text="'You searched for: '+ ${searched}"></td>
		</tr>
		<tr align="center">
			<td>Grade ID</td>
			<td>Grade</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Student ID</td>
			<td>Student Name</td>
		</tr>
		<tr align="center" th:each="grade: ${gradePage.content}">
			<td>
				<a th:href="@{/admin/viewgrade(viewgrade=${grade.gradeId})}"
        		th:text=${grade.gradeId}></a>
			</td>
			<td th:text="${grade.grade}"></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${grade.course.courseId})}"
        		th:text=${grade.course.courseId}></a>
			</td>
			<td th:text="${grade.course.courseCode}"></td>
			<td th:text="${grade.course.courseName}"></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${grade.student.studentId})}"
        		th:text=${grade.student.studentId}></a>
			</td>
			<td th:text="${grade.student.firstName}+' '+${grade.student.middleName}+' '+${grade.student.surname}"></td>
		</tr>
    	<tr th:if="${gradePage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/gradelist(size=${gradePage.size}, page=${pageNumber},name=${searched})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==gradePage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
    <div th:unless="${found == 'found'}">
    <h2 th:text="'No grade found for: ' + ${searched}"></h2>
    </div>
    <p><a th:href="@{/admin/gradelist}">Return to list of grades</a></p>
</div>

<input type="text" th:name="name" placeholder="Search course and student"/> 
<input type="submit"/> 
</form>

 <form th:action="@{/csvgrades}" th:method="post">
	<button type="submit" name="approval" value="yes">Download all grades as CSV</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>

</body>
</html>