<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr align="center">
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
		<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>List of all students</h1>

<form th:action="@{/admin/studentlist}">
<div th:if="${searched == 'null'}">
	<table>
		<tr align="center">
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>
		</tr>
		<tr align="center" th:each="stu: ${studentPage.content}">
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${stu.studentId})}"
        		th:text=${stu.studentId}></a>
			</td>
			<td th:text="${stu.firstName}+' '+${stu.middleName}+' '+${stu.surname}"></td>
			<td th:text="${stu.age}" ></td>
			<td th:text="${stu.gender}" ></td>
			<td th:text="${stu.email}" ></td>
			<td th:text="${stu.mobileNum}" ></td>
			<td th:text="${stu.address}" ></td>
		</tr>
    	<tr th:if="${studentPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/studentlist(size=${studentPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==studentPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:unless="${searched == 'null'}">
	<table th:if="${found == 'found'}">
		<tr>
			<td th:text="'You searched for: '+ ${searched}"></td>
		</tr>
		<tr align="center">
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>
		</tr>
		<tr align="center" th:each="stu: ${studentPage.content}">
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${stu.studentId})}"
        		th:text=${stu.studentId}></a>
			</td>
			<td th:text="${stu.firstName}+' '+${stu.middleName}+' '+${stu.surname}"></td>
			<td th:text="${stu.age}" ></td>
			<td th:text="${stu.gender}" ></td>
			<td th:text="${stu.email}" ></td>
			<td th:text="${stu.mobileNum}" ></td>
			<td th:text="${stu.address}" ></td>
		</tr>
    	<tr th:if="${studentPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/studentlist(size=${studentPage.size}, page=${pageNumber},name=${searched})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==studentPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
    <div th:unless="${found == 'found'}">
    <h2 th:text="'No student found for: ' + ${searched}"></h2>
    </div>
    <p><a th:href="@{/admin/studentlist}">Return to list of students</a></p>
</div>



<input type="text" th:name="name" placeholder="Search name/address/email"/> 
<input type="submit"/> 
</form>
 <form th:action="@{/csvstudents}" th:method="post">
	<button type="submit" name="approval" value="yes">Download all students as CSV</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>

</body>
</html>