<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr align="center">
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>List of all users</h1>

<div th:if="${msg == 'found'}">
<div th:if="${sort == 'all'}">
	<table>
		<tr align="center">
			<td>User ID</td>
			<td>Type</td>
			<td>Username</td>
			<td>Password</td>
		</tr>
		<tr align="center" th:each="u: ${userPage.content}">
			<td>
				<a th:href="@{/admin/viewuser(viewuser=${u.userId})}"
        		th:text="${u.userId}"></a>
        	</td>
			<td th:if="${u.adminId != 0}">
				<a th:href="@{/admin/viewadmin(viewadmin=${u.adminId})}"
        		th:text="${'Admin: Id = ' + u.adminId}"></a>
        	</td>
			<td th:if="${u.studentId != 0}">
				<a th:href="@{/admin/viewstudent(viewstudent=${u.studentId})}"
        		th:text="${'Student: Id = ' + u.studentId}"></a>
        	</td>
			<td th:if="${u.facultyId != 0}">
				<a th:href="@{/admin/viewfaculty(viewfaculty=${u.facultyId})}"
        		th:text="${'Faculty: Id = ' + u.facultyId}"></a>
        	</td>
        	<td th:text="${u.userName}" ></td>
        	<td th:text="${u.password}" ></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/admin/userlist(sort='student',size=${userPage.size}, page=${pageNumber})}">Show all student users</a></td>
			<td><a th:href="@{/admin/userlist(sort='faculty',size=${userPage.size}, page=${pageNumber})}">Show all faculty users</a></td>
			<td><a th:href="@{/admin/userlist(sort='admin',size=${userPage.size}, page=${pageNumber})}">Show all admin users</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${userPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/userlist(sort='all',size=${userPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==userPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:if="${sort == 'student'}">
	<table>
		<tr align="center">
			<td>User ID</td>
			<td>Type</td>
			<td>Username</td>
			<td>Password</td>
		</tr>
		<tr align="center" th:each="u: ${userPage.content}">
			<td>
				<a th:href="@{/admin/viewuser(viewuser=${u.userId})}"
        		th:text="${u.userId}"></a>
        	</td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${u.studentId})}"
        		th:text="${'Student: Id = ' + u.studentId}"></a>
        	</td>
        	<td th:text="${u.userName}" ></td>
        	<td th:text="${u.password}" ></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/admin/userlist(sort='all',size=${userPage.size}, page=${pageNumber})}">Show all users</a></td>
			<td><a th:href="@{/admin/userlist(sort='faculty',size=${userPage.size}, page=${pageNumber})}">Show all faculty users</a></td>
			<td><a th:href="@{/admin/userlist(sort='admin',size=${userPage.size}, page=${pageNumber})}">Show all admin users</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${userPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/userlist(sort='student',size=${userPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==userPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:if="${sort == 'faculty'}">
	<table>
		<tr align="center">
			<td>User ID</td>
			<td>Type</td>
			<td>Username</td>
			<td>Password</td>
		</tr>
		<tr align="center" th:each="u: ${userPage.content}">
			<td>
				<a th:href="@{/admin/viewuser(viewuser=${u.userId})}"
        		th:text="${u.userId}"></a>
        	</td>
			<td>
				<a th:href="@{/admin/viewfaculty(viewfaculty=${u.facultyId})}"
        		th:text="${'Faculty: Id = ' + u.facultyId}"></a>
        	</td>
        	<td th:text="${u.userName}" ></td>
        	<td th:text="${u.password}" ></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/admin/userlist(sort='all',size=${userPage.size}, page=${pageNumber})}">Show all users</a></td>
			<td><a th:href="@{/admin/userlist(sort='student',size=${userPage.size}, page=${pageNumber})}">Show all student users</a></td>
			<td><a th:href="@{/admin/userlist(sort='admin',size=${userPage.size}, page=${pageNumber})}">Show all admin users</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${userPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/userlist(sort='faculty',size=${userPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==userPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>

<div th:if="${sort == 'admin'}">
	<table>
		<tr align="center">
			<td>User ID</td>
			<td>Type</td>
			<td>Username</td>
			<td>Password</td>
		</tr>
		<tr align="center" th:each="u: ${userPage.content}">
			<td>
				<a th:href="@{/admin/viewuser(viewuser=${u.userId})}"
        		th:text="${u.userId}"></a>
        	</td>
			<td>
				<a th:href="@{/admin/viewadmin(viewadmin=${u.adminId})}"
        		th:text="${'Admin: Id = ' + u.adminId}"></a>
        	</td>
        	<td th:text="${u.userName}" ></td>
        	<td th:text="${u.password}" ></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><a th:href="@{/admin/userlist(sort='all',size=${userPage.size}, page=${pageNumber})}">Show all users</a></td>
			<td><a th:href="@{/admin/userlist(sort='student',size=${userPage.size}, page=${pageNumber})}">Show all student users</a></td>
			<td><a th:href="@{/admin/userlist(sort='faculty',size=${userPage.size}, page=${pageNumber})}">Show all faculty users</a></td>
		</tr>
	</table>
		
	<table>
    	<tr th:if="${userPage.totalPages > 0}" class="pagination">
    		<td th:each="pageNumber : ${pageNumbers}">
    			<a th:href="@{/admin/userlist(sort='admin',size=${userPage.size}, page=${pageNumber})}"
        		th:text=${pageNumber}
        		th:class="${pageNumber==userPage.number + 1} ? active"></a>
    		</td>
    	</tr>
    </table>
</div>
</div>

<div th:unless="${msg == 'found'}">
<p>No Users found</p>
</div>

 <form th:action="@{/csvusers}" th:method="post">
	<button type="submit" name="approval" value="yes">Download all users as CSV</button>
</form>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/create}">Create New</a></p>

</body>
</html>