<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
		<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>Faculty Information</h1>

<div th:if="${msg == 'found'}">
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
			<td>Email</td>
			<td>Mobile Number</td>	
		</tr>
		<tr align="center">
			<td>
				<a th:href="@{/admin/viewdepartment(viewdepartment=${faculty.department.departmentId})}"
        		th:text=${faculty.department.departmentId}></a>
			</td>
			<td th:text="${faculty.department.departmentName}" ></td>
			<td th:text="${faculty.facultyId}" ></td>
			<td th:text="${faculty.firstName}+' '+${faculty.middleName}+' '+${faculty.surname}"></td>
			<td th:text="${faculty.email}" ></td>
			<td th:text="${faculty.mobileNum}" ></td>
		</tr>
    </table>
    
<form th:action="@{/admin/delete(deleteType='faculty',id=${faculty.facultyId})}" th:method="post">
    <button type="submit" name="confirm" value="no">Delete faculty</button>
</form>
<form th:action="@{/admin/updatefaculty(id=${faculty.facultyId})}" th:method="post">
    <button type="submit" name="confirm" value="no">Update faculty</button>
</form>
    
    <h2>Courses Assigned</h2>
    <div th:if="${searchcourse == 'null'}">
    <h3>No courses assigned</h3>
    </div>
    <div th:if="${searchcourse == 'found'}">
    <table>
		<tr align="center">
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course Size</td>
			<td>Course Unit</td>
		</tr>
		<tr align="center" th:each="cse: ${courses}">
			<td th:text="${cse.department.departmentName}" ></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${cse.courseId})}"
        		th:text=${cse.courseId}></a>
			</td>
			<td th:text="${cse.courseCode}"></td>
			<td th:text="${cse.courseName}"></td>
			<td th:text="${cse.courseSize}"></td>
			<td th:text="${cse.courseUnit}"></td>
		</tr>
    </table>
    </div>
</div>

<div th:unless="${msg == 'found'}">
    <h2 th:text="'Error in locating faculty in database'"></h2>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/facultylist}">Return to list of faculties</a></p>

</body>
</html>