<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>Department Information</h1>

<div th:if="${msg == 'found'}">
	<table>
		<tr align="center">
			<td>Department ID</td>
			<td>Department Name</td>
		</tr>
		<tr align="center">
			<td th:text="${department.departmentId}" ></td>
			<td th:text="${department.departmentName}"></td>
		</tr>
    </table>
    
    <h2>Courses in department</h2>
    <table>
		<tr align="center">
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Course Size</td>
			<td>Course Unit</td>
		</tr>
		<tr align="center" th:each="cse: ${courses}">
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${cse.courseId})}"
        		th:text=${cse.courseId}></a>
			</td>
			<td th:text="${cse.courseCode}"></td>
			<td th:text="${cse.courseName}"></td>
			<td th:text="${cse.courseSize}"></td>
			<td th:text="${cse.courseUnit}"></td>
		</tr>
    </table>
    
    <h2>Faculties in department</h2>
    <table>
		<tr align="center">
			<td>Faculty ID</td>
			<td>Faculty Name</td>
			<td>Email</td>
			<td>Mobile Number</td>
		</tr>
		<tr align="center" th:each="fac: ${faculties}">
			<td>
				<a th:href="@{/admin/viewfaculty(viewfaculty=${fac.facultyId})}"
        		th:text=${fac.facultyId}></a>
			</td>
			<td th:text="${fac.firstName}+' '+${fac.middleName}+' '+${fac.surname}"></td>
			<td th:text="${fac.email}" ></td>
			<td th:text="${fac.mobileNum}" ></td>
		</tr>
    </table>
</div>

<div th:unless="${msg == 'found'}">
    <h2 th:text="'Error in locating department in database'"></h2>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/departmentlist}">Return to list of departments</a></p>

</body>
</html>