<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
		<td><a th:href="@{/admin/edit/}+${admin.adminId}"> Edit </a>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>Grade Information</h1>

<div th:if="${msg == 'found'}">
	<table>
		<tr align="center">
			<td>Grade ID</td>
			<td>Grade</td>
			<td>Course ID</td>
			<td>Course Code</td>
			<td>Course Name</td>
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Faculty ID</td>
			<td>Faculty Name</td>
		</tr>
		<tr align="center">
			<td th:text="${grade.gradeId}"></td>
			<td th:text="${grade.grade}"></td>
			<td>
				<a th:href="@{/admin/viewcourse(viewcourse=${grade.course.courseId})}"
        		th:text=${grade.course.courseId}></a>
			</td>
			<td th:text="${grade.course.courseCode}"></td>
			<td th:text="${grade.course.courseName}"></td>
			<td>
				<a th:href="@{/admin/viewstudent(viewstudent=${grade.student.studentId})}"
        		th:text=${grade.student.studentId}></a>
			</td>
			<td th:text="${grade.student.firstName}+' '+${grade.student.middleName}+' '+${grade.student.surname}"></td>
			<td>
				<a th:href="@{/admin/viewfaculty(viewfaculty=${grade.faculty.facultyId})}"
        		th:text=${grade.faculty.facultyId}></a>
			</td>
			<td th:text="${grade.faculty.firstName}+' '+${grade.faculty.middleName}+' '+${grade.faculty.surname}"></td>
		</tr>
    </table>
    
<form th:action="@{/admin/delete(deleteType='grade',id=${grade.gradeId})}" th:method="post">
    <button type="submit" name="confirm" value="no">Delete grade</button>
</form>
<form th:action="@{/admin/updategrade(id=${grade.gradeId})}" th:method="post">
    <button type="submit" name="confirm" value="no">Update grade</button>
</form>
</div>

<div th:unless="${msg == 'found'}">
    <h2 th:text="'Error in locating grade in database'"></h2>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/gradelist}">Return to list of grades</a></p>

</body>
</html>