<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<table>
	<tr>
		<td>Admin ID</td>
		<td>Name</td>
		<td>Email</td>
		<td>Mobile Number</td>
	</tr>
	<tr align="center">
		<td th:text="${admin.adminId}">Admin Id</td>
		<td th:text="${admin.firstName}+' '+${admin.middleName}+' '+${admin.surname}">Admin Name</td>
		<td th:text="${admin.email}">Admin Email</td>
		<td th:text="${admin.mobileNum}">Admin Mobile Number</td>
	</tr>
</table>

<br/>
<br/>
<br/>
<br/>

<h1>Student Information</h1>

<div th:if="${msg == 'found'}">
	<table>
		<tr align="center">
			<td>Student ID</td>
			<td>Student Name</td>
			<td>Age</td>
			<td>Gender</td>
			<td>Email</td>
			<td>Mobile Number</td>
			<td>Address</td>	
		</tr>
		<tr align="center">
			<td th:text="${student.studentId}" ></td>
			<td th:text="${student.firstName}+' '+${student.middleName}+' '+${student.surname}"></td>
			<td th:text="${student.age}" ></td>
			<td th:text="${student.gender}" ></td>
			<td th:text="${student.email}" ></td>
			<td th:text="${student.mobileNum}" ></td>
			<td th:text="${student.address}" ></td>
		</tr>
    </table>
    
<form th:action="@{/admin/delete(deleteType='student',id=${student.studentId},)}" th:method="post">
    <button type="submit" name="confirm" value="no">Delete student</button>
</form>
    
    <h2>Courses Applied</h2>
    <div th:if="${searchca == 'null'}">
    <h3>No courses applied</h3>
    </div>
    <div th:if="${searchca == 'found'}">
    <table>
		<tr align="center">
			<td>Application ID</td>
			<td>Status</td>
			<td>Department</td>
			<td>Course ID</td>
			<td>Course Code</td>
		</tr>
		<tr align="center" th:each="ca: ${courseApplications}">
			<td>
				<a th:href="@{/admin/viewcourseapplication(viewcourseapplication=${ca.applicationId})}"
        		th:text=${ca.applicationId}></a>
			</td>
			<td th:text="${ca.status}" ></td>
			<td th:text="${ca.course.department.departmentName}" ></td>
			<td th:text="${ca.course.courseId}" ></td>
			<td th:text="${ca.course.courseCode}" ></td>
		</tr>
    </table>
    </div>
</div>

<div th:unless="${msg == 'found'}">
    <h2 th:text="'Error in locating student in database'"></h2>
</div>

<p><a th:href="@{/admin/home}">Home</a></p>
<p><a th:href="@{/admin/studentlist}">Return to list of students</a></p>

</body>
</html>