<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Welcome</title>
    </head>
<body>
	<h1>LOG IN PAGE</h1>
    <form action="#" th:action="@{welcome}" th:object="${login}" method="post">
    	<p>Username: <input type="text" th:field="*{username}" /></p>
        <p>Password: <input type="text" th:field="*{password}" /></p>
        <p>
        <span th:text="${msg}">Both fields cannot be empty</span>
        </p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>